<div class="w-100 d-flex flex-row main-container">
    <div class="h-100 d-flex flex-column left-container">
        <div class="w-100 d-flex justify-content-center align-items-center up-container">
            <div class="text-center content-container">
                <div class="title">Investing in Housing Community</div>
                <div class="text">High-profit properties with unique concept, geographical location,<br />
                    hi-tech solutions and dream lifestyle.</div>
                <div class="text">Full-time property management and rental office to<br />
                    provide hotel services for residents and visitors.</div>
            </div>
        </div>
        <div class="middle-container text-right">
            <div class="w-100 h-100 d-flex justify-content-center align-items-center content-container">
                <div class="d-flex align-items-start">
                    <div class="d-flex flex-column text-end">
                        <div class="mb-2 header">Capital growth</div>
                        <div class="text">
                            unique project concept<br />
                            location & outstanding views<br />
                            fast growing community<br />
                            upcoming investment region<br />
                            technological solutions<br />
                            infrastructure<br />
                        </div>
                    </div>
                    <div class="align-self-stretch mx-4 separator"></div>
                    <div class="d-flex flex-column text-start">
                        <div class="mb-2 header">Rental income</div>
                        <div class="text">
                            short & long-term business trips<br />
                            year-round research teams workshops<br />
                            company workshops<br />
                            seminars & conventions<br />
                            business events<br />
                            sports groups<br />
                            individual & family holiday makers<br />
                            cloud based rental business<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center align-items-center down-container">
            <div class="d-flex flex-wrap content-container">
                <div class="cart">
                    <div class="d-flex align-items-center header">
                        <img src="assets/images/invest/services.svg" alt="24/7 Services" />
                        <div class="title">24/7 Services</div>
                    </div>
                    <div class="text">Year around hotel services on site available for the property owners and visitors.</div>
                </div>
                <div class="cart">
                    <div class="d-flex align-items-center header">
                        <img src="assets/images/invest/rental-team.svg" alt="Rental Team" />
                        <div class="title">Rental Team</div>
                    </div>
                    <div class="text">A professional team to run your rental business via cloud-based system. Full control by homeowners.</div>
                </div>
                <div class="cart">
                    <div class="d-flex align-items-center header">
                        <img src="assets/images/invest/maintenance-team.svg" alt="Maintenance Team" />
                        <div class="title">Maintenance Team</div>
                    </div>
                    <div class="text">An experienced team to take care of site maintenance and individual properties.</div>
                </div>
                <div class="cart">
                    <div class="d-flex align-items-center header">
                        <img src="assets/images/invest/full-support.svg" alt="Full Support" />
                        <div class="title">Full Support</div>
                    </div>
                    <div class="text">Multilingual team to satisfy the needs of property owners and visitors.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-100 d-flex flex-column justify-content-evenly align-items-center right-container">
        <img src="assets/images/invest/logo.svg" class="logo" alt="Logo" />
        <div class="d-flex flex-column justify-content-between align-items-center text-center statistics">
            <div>
                <div class="percent">40-60%</div>
                <div class="description">growth during construction</div>
            </div>
            <img src="assets/images/invest/line.svg" class="line" alt="Line" />
            <div>
                <div class="percent">5-8%</div>
                <div class="description">yearly growth after completion</div>
            </div>
            <img src="assets/images/invest/line.svg" class="line" alt="Line" />
            <div>
                <div class="percent">6-11%</div>
                <div class="description">rental income per annum</div>
            </div>
        </div>
        <button>Click to know more</button>
    </div>
</div>
