@import "~src/styles/_variables";

.main-container {
    max-width: 650px;
    height: $invest-height;
    border-radius: 28px;
    margin: 0 auto;

    .left-container {
        width: 60%;

        .up-container {
            height: 226px;
            background: #E2B055;
            border-top-left-radius: 28px;

            .content-container {
                font-family: "Myriad Pro";
                color: #FFFFFF;

                .title {
                    font-size: 16px;
                    line-height: 25px;
                    margin-bottom: 21px;
                }

                .text {
                    font-size: 8px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
            }
        }

        .middle-container {
            height: 255px;
            background: #E2B055;

            .content-container {
                background: rgba(255, 255, 255, 0.1);
                font-family: "Avenir Book";
                letter-spacing: -0.5px;
                color: #FFFFFF;

                .header {
                    font-size: 14px;
                    line-height: 20px;
                }
    
                .text {
                    font-size: 10px;
                    line-height: 15px;
                }

                .separator {
                    border-right: 1px solid rgba(255, 255, 255, 0.7);
                }
            }
        }

        .down-container {
            height: 283px;
            border-bottom-left-radius: 28px;

            .content-container {
                width: 80%;
                height: 135px;

                .cart {
                    width: 40%;

                    &:nth-of-type(odd) {
                        margin-right: 20%;
                    }

                    .header {
                        img {
                            width: 26px;
                            height: 26px;
                            margin-right: 7px;
                        }

                        .title {
                            font-family: "Avenir Heavy";
                            font-size: 9px;
                            line-height: 8px;
                            color: #414042;
                        }
                    }

                    .text {
                        font-family: "Avenir Book";
                        font-size: 6px;
                        line-height: 8px;
                        color: #808285;
                        margin-left: 33px;
                    }
                }
            }
        }
    }

    .right-container {
        width: 40%;
        background: #282828;
        border-radius: 0 28px 28px 0;

        .logo {
            width: 95px;
            height: 40px;
        }

        .statistics {
            height: 199px;
            font-family: "Myriad Pro";
            color: #FFFFFF;

            .line {
                width: 20%;
            }

            .percent {
                font-size: 18px;
                line-height: 16px;
            }

            .description {
                font-size: 10px;
                line-height: 16px;
            }
        }

        button {
            padding: 6px 15px;
            border: 1px solid #E2B055;
            border-radius : 9px;
            background-color: transparent;
            font-family: "Myriad Pro";
            font-size: 11px;
            line-height: 11px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}
